DATA_FOLDER_PATH={{ services.data.directory }}
DATA_FOLDER_BACKUP_PATH={{ services.data.directory_backup }}
SECRET_FOLDER_PATH={{ services.secret.directory }}
SECRET_FOLDER_BACKUP_PATH={{ services.secret.directory_backup }}

DOMAIN={{ services.domain }}
EMAIL={{ services.email }}

UNIFI_GATEWAY_IP={{ services.network.gateway }}
PIHOLE_IP={{ services.network.pihole }}
LOCAL_SUBNET={{ services.network.local_subnet }}

DOWNLOAD_DIRECTORY={{ services.directories.download }}
EXTRACT_DIRECTORY={{ services.directories.extract }}
PUBLIC_DIRECTORY={{ services.directories.public }}
PUBLIC_BACKUP_DIRECTORY={{ services.directories.public_backup }}
TV_SHOW_DIRECTORY={{ services.directories.tvshow }}
MOVIE_DIRECTORY={{ services.directories.movie }}
LEVIN_DIRECTORY={{ services.directories.levin }}
LEVIN_BACKUP_DIRECTORY={{ services.directories.levin_backup }}
KATRIN_DIRECTORY={{ services.directories.katrin }}
KATRIN_BACKUP_DIRECTORY={{ services.directories.katrin_backup }}
SHARE_DIRECTORY={{ services.directories.share }}
SHARE_BACKUP_DIRECTORY={{ services.directories.share_backup }}

UID_VIDEO={{ getent_group.video[1] }}
UID_RENDER={{ getent_group.render[1] }}
