DATA_FOLDER_PATH={{ services.data.directory }}
SECRET_FOLDER_PATH={{ services.secret.directory }}

DOMAIN={{ services.domain }}
EMAIL={{ services.email }}

UNIFI_GATEWAY_IP={{ services.network.gateway }}
PIHOLE_IP={{ services.network.pihole }}
LOCAL_SUBNET={{ services.network.local_subnet }}

DOWNLOAD_DIRECTORY={{ services.directories.download }}
EXTRACT_DIRECTORY={{ services.directories.extract }}
PUBLIC_DIRECTORY={{ services.directories.public }}
TV_SHOW_DIRECTORY={{ services.directories.tvshow }}
MOVIE_DIRECTORY={{ services.directories.movie }}
LEVIN_DIRECTORY={{ services.directories.levin }}
KATRIN_DIRECTORY={{ services.directories.katrin }}
SHARE_DIRECTORY={{ services.directories.share }}

UID_VIDEO={{ getent_group.video[1] }}
UID_RENDER={{ getent_group.render[1] }}
