DATA_FOLDER_PATH={{ storage.jest.path }}/{{ services.data.directory }}
SECRET_FOLDER_PATH={{ storage.jest.path }}/{{ services.secret.directory }}

DOMAIN={{ services.domain }}
EMAIL={{ services.email }}

UNIFI_GATEWAY_IP={{ services.network.gateway }}
PIHOLE_IP={{ services.network.pihole }}
LOCAL_SUBNET={{ services.network.local_subnet }}

PYLOAD_DOWNLOAD_FOLDER={{ storage.storage.path }}/{{ services.pyload.download_directory }}
PYLOAD_EXTRACT_FOLDER={{ storage.storage.path }}/{{ services.pyload.extract_directory }}

EMBY_UID_VIDEO={{ getent_group.video[1] }}
EMBY_UID_RENDER={{ getent_group.render[1] }}
EMBY_TV_SHOW_DIRECTORY={{ storage.storage.path }}/{{ services.emby.tvshow_directory }}
EMBY_MOVIE_DIRECTORY={{ storage.storage.path }}/{{ services.emby.movie_directory }}

FILEBROWSER_DIRECTORY_LEVIN={{ storage.jest.path }}/{{ services.filebrowser.levin_directory }}
FILEBROWSER_DIRECTORY_KATRIN={{ storage.jest.path }}/{{ services.filebrowser.katrin_directory }}
FILEBROWSER_DIRECTORY_PUBLIC={{ storage.storage.path }}/{{ services.filebrowser.public_directory }}
FILEBROWSER_DIRECTORY_SHARE={{ storage.jest.path }}/{{ services.filebrowser.share_directory }}
FILEBROWSER_DIRECTORY_DOWNLOAD={{ storage.storage.path }}/{{ services.pyload.download_directory }}
FILEBROWSER_DIRECTORY_EXTRACT={{ storage.storage.path }}/{{ services.pyload.extract_directory }}
