services:

  bitwardenupdater:
    image: docker:28.5.2-cli
    container_name: bitwardenupdater
    entrypoint: /bin/sh
    command:
    - -c
    - "apk add curl bash && echo \"0 5 * * * /scripts/update_bitwarden.sh\" | crontab - && crond -f -L /dev/stdout"
    environment:
      BITWARDEN_PATH: ${DATA_FOLDER_PATH:-./service-data}/bitwarden
    healthcheck:
      test: ["CMD-SHELL", "crontab -l"]
      start_period: 60s
      start_interval: 5s
      interval: 60s
      timeout: 5s
      retries: 3
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    - ./config:/scripts:ro
    - ${DATA_FOLDER_PATH:-./service-data}/bitwarden:${DATA_FOLDER_PATH:-./service-data}/bitwarden
    - ${DATA_FOLDER_PATH:-.}${DATA_FOLDER_PATH:+/prometheus}/nodeexporter:/prometheus
    networks:
    - bitwardenupdater
    restart: unless-stopped

networks:
  bitwardenupdater:
