#ignore everything
*

#whitelist
!*.md
!LICENSE
!.gitignore
!.gitattributes
!*.yaml
!*.yml
!*.json
!*.j2
!ansible.cfg
!*.sh
!*.js
!*.html

!ansible/
!ansible/jest/
!ansible/jest/dev/
!ansible/jest/dev/group_vars/
!ansible/jest/dev/group_vars/service_provider/
!ansible/jest/prod/
!ansible/jest/prod/group_vars/
!ansible/jest/prod/group_vars/service_provider/
!ansible/jest/playbooks/
!ansible/jest/tasks/
!ansible/jest/templates/
!ansible/tasks/
!services/
!services/authentik/
!services/bitwarden-updater/
!services/bitwarden-updater/config/
!services/ddns-updater/
!services/docker-image-pruner/
!services/docker-image-pruner/config/
!services/emby/
!services/filebrowser/
!services/filebrowser/config/
!services/firefly/
!services/grafana/
!services/homeassistant/
!services/homer/
!services/homer/config/
!services/homer/config/**
!services/paulius/
!services/paulius/html/
!services/immich/
!services/portainer/
!services/prometheus/
!services/prometheus/config/
!services/pyload/
!services/renovate/
!services/renovate/config/
!services/restic/
!services/restic/config/
!services/traefik/
!services/traefik/config/
!services/unpoller/

!services/.env
