services:

  renovatecron:
    image: docker:28.5.2-cli
    container_name: renovatecron
    entrypoint: /bin/sh
    command:
    - -c
    - "echo \"0 8 * * 3 /scripts/renovate.sh\" | crontab - && crond -f -L /dev/stdout"
    environment:
      DOCKER_COMPOSE_PATH: ${PWD}
    healthcheck:
      test: ["CMD-SHELL", "crontab -l"]
      start_period: 60s
      start_interval: 5s
      interval: 60s
      timeout: 5s
      retries: 3
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    - ./config/renovate.sh:/scripts/renovate.sh:ro
    - ${DATA_FOLDER_PATH:-.}${DATA_FOLDER_PATH:+/prometheus}/nodeexporter:/prometheus
    - ${PWD}:${PWD}:ro
    - ${SECRET_FOLDER_PATH}/renovate:${SECRET_FOLDER_PATH}/renovate:ro
    networks:
    - renovatecron
    restart: unless-stopped

  # No health check needed - service runs as a scheduled cronjob, see renovatecron service above
  renovate:
    image: renovate/renovate:41.152.7-full
    container_name: renovate
    # Prevents startup of container with docker compose up
    profiles: 
    - renovate
    volumes:
    - ./config/config.js:/usr/src/app/config.js:ro
    secrets:
    - renovate_token
    networks:
    - renovate
    restart: no

secrets:

  renovate_token:
    file: ${SECRET_FOLDER_PATH:-.}${SECRET_FOLDER_PATH:+/renovate}/token

networks:
  renovatecron:
  renovate:
