services:
  
  paulius:
    image: nginx:1.29.5-alpine
    container_name: paulius
    labels:
      traefik.enable: true
    healthcheck:
      test: ["CMD-SHELL", "wget -O /dev/null http://localhost || exit 1"]
      start_period: 60s
      start_interval: 5s
      interval: 60s
      timeout: 5s
      retries: 3
    volumes:
    - ./html:/usr/share/nginx/html
    networks:
    - traefik
    restart: unless-stopped
