services:

  fireflydb:
    image: postgres:10
    container_name: fireflydb
    labels:
      backup.enable: true
    environment:
      POSTGRES_DB_FILE: /run/secrets/firefly_db_name
      POSTGRES_USER_FILE: /run/secrets/firefly_db_user
      POSTGRES_PASSWORD_FILE: /run/secrets/firefly_db_password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $(cat /run/secrets/firefly_db_name) -U $(cat /run/secrets/firefly_db_user)"]
      start_period: 60s
      start_interval: 5s
      interval: 60s
      timeout: 5s
      retries: 3
    volumes:
      - ${DATA_FOLDER_PATH:-.}${DATA_FOLDER_PATH:+/firefly}/database:/var/lib/postgresql/data
    secrets:
    - firefly_db_user
    - firefly_db_password
    - firefly_db_name
    networks:
    - firefly
    restart: unless-stopped

  firefly:
    image: fireflyiii/core:version-6.4.18
    container_name: firefly
    labels:
      traefik.enable: true
      backup.enable: true
    environment:
      APP_ENV: production
      APP_DEBUG: false
      SITE_OWNER: ${EMAIL}
      APP_KEY_FILE: /run/secrets/firefly_app_key
      DEFAULT_LANGUAGE: de_DE
      DEFAULT_LOCALE: equal
      TZ: Europe/London
      TRUSTED_PROXIES: "**"
      APP_LOG_LEVEL: warning
      AUDIT_LOG_LEVEL: emergency
      DB_CONNECTION: pgsql
      DB_HOST: fireflydb
      DB_PORT: 5432
      DB_DATABASE_FILE: /run/secrets/firefly_db_name
      DB_USERNAME_FILE: /run/secrets/firefly_db_user
      DB_PASSWORD_FILE: /run/secrets/firefly_db_password
      PGSQL_SSL_MODE: prefer
      PGSQL_SSL_ROOT_CERT: null
      PGSQL_SSL_CERT: null
      PGSQL_SSL_KEY: null
      PGSQL_SSL_CRL_FILE: null
      PGSQL_SCHEMA: public
      MAIL_MAILER: smtp
      MAIL_HOST: smtp.gmail.com
      MAIL_PORT: 25
      MAIL_FROM: firefly@${DOMAIN}
      MAIL_USERNAME: ${EMAIL}
      MAIL_PASSWORD_FILE: /run/secrets/firefly_email_password
      MAIL_ENCRYPTION: tls
      SEND_ERROR_MESSAGE: true
      SEND_REPORT_JOURNALS: true
      AUTHENTICATION_GUARD: web
      AUTHENTICATION_GUARD_HEADER: REMOTE_USER
      AUTHENTICATION_GUARD_EMAIL: 
      CUSTOM_LOGOUT_URL: 
      STATIC_CRON_TOKEN_FILE: /run/secrets/firefly_cron_token
      APP_NAME: FireflyIII
      APP_URL: https://firefly.${DOMAIN}
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:8080/health || exit 1"]
      start_period: 60s
      start_interval: 5s
      interval: 60s
      timeout: 5s
      retries: 3
    volumes:
    - ${DATA_FOLDER_PATH:-.}${DATA_FOLDER_PATH:+/firefly}/upload:/var/www/html/storage/upload
    - ${DATA_FOLDER_PATH:-.}${DATA_FOLDER_PATH:+/firefly}/logs:/storage/logs
    secrets:
    - firefly_db_user
    - firefly_db_password
    - firefly_db_name
    - firefly_app_key
    - firefly_cron_token
    - firefly_email_password 
    networks:
    - traefik
    - firefly
    restart: unless-stopped
    depends_on:
      fireflydb:
        condition: service_healthy

  fireflycron:
    image: alpine:3.22.2
    container_name: fireflycron
    command: sh -c "echo \"0 3 * * * wget -qO- --no-check-certificate http://firefly:8080/api/v1/cron/$(cat /run/secrets/firefly_cron_token)\" | crontab - && crond -f -L /dev/stdout"
    secrets:
    - firefly_cron_token
    networks:
    - firefly
    restart: unless-stopped
    depends_on:
    - firefly

secrets:

  firefly_db_user:
    file: ${SECRET_FOLDER_PATH:-.}${SECRET_FOLDER_PATH:+/firefly}/db_user
  firefly_db_password:
    file: ${SECRET_FOLDER_PATH:-.}${SECRET_FOLDER_PATH:+/firefly}/db_password
  firefly_db_name:
    file: ${SECRET_FOLDER_PATH:-.}${SECRET_FOLDER_PATH:+/firefly}/db_name
  firefly_app_key:
    file: ${SECRET_FOLDER_PATH:-.}${SECRET_FOLDER_PATH:+/firefly}/app_key
  firefly_cron_token:
    file: ${SECRET_FOLDER_PATH:-.}${SECRET_FOLDER_PATH:+/firefly}/cron_token
  firefly_email_password:
    file: ${SECRET_FOLDER_PATH:-.}${SECRET_FOLDER_PATH:+/firefly}/email_password

networks:
  firefly:
